body{
	background-color: 555555;
}
h1{
	text-align: center;
	font-size: 60px;
	margin-top: 3%;
	margin-bottom: 2%;
	color:	#CCCCCC;
	font-weight: bold;
	text-shadow: 3px 2px 3px black;
	font-family: armata;
}
.all{
	margin-left: 20%;
	margin-right: 20%;
	padding: 5%;
	height: auto;
	border-radius:40px;
	font-family: armata;
}
.tabel {
	text-align: center;
	padding: 3%;
	margin-top: 3%;
	font-family: armata;
}

.butt {
	margin-left: 35%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-top: 2%;
	border-radius: 10px;
	background-color: #CCCCCC;
	font-size: 18px;
	font-family: armata;
	width: 30%;
}
.input{
	font-size: 16px;
	height: auto;
}
