{% load static %}
<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{% static '/styles.css' %}">
	</head>
	<body>
		<h1> Halo, apa kabar? </h1>
		<div class ="all">
			<form action = "/submitstatus/" method="POST">
			{% csrf_token %}
			<div class="form-group">
			  <input  name = "status" type="text" class="form-control input" placeholder="Perasaan kamu hari ini gimana sih?">
			</div>
			<button type="submit" class="btn btn-primary butt" id ="submitan">Post</button>
			</form>
			<div>
				<table class="table table-hover tabel" style="background-color: white">
				<thead>
				  <tr>
				    <th>Status</th>
				    <th>Tanggal</th>
				  </tr>
				</thead>
				<tbody>
				  {% for i in List_Status_Key %}
				  <tr>
				    <td>{{ i.status}}</td>
				    <td>{{ i.tanggal}}</td>
				  </tr>
				  {% endfor %}
				</tbody>
				</table>
			</div>
		</div>
	</body>
</html>

